.container {
  background-color: lightblue;
  padding: 20px;
}

.form-wrapper {
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
  }

  * {
    margin-bottom: 5px;
    border-radius: 2px;
    padding: 3px;
    border: none;
    
  }
}

.error {
  background-color: red;
  color: white;
  padding: 10px;
  margin: 10px;
}